.sign-in {
  display: flex;

  @media #{$phone} {
    display: block;
  }

  &__preview,
  &__form {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media #{$phone} {
      height: 50vh;
    }
  }

  &__field-data {
    padding: 8px;
    border-radius: 8px;
    background-color: #f1f2f4;
    box-shadow: 5px 8px 20px 0 #c6c6c6;
  }
  &__preview {
    background-color: $red;
    box-shadow: 10px 0 20px 6px #c6c6c6;
  }
  &__headline {
    color: $white;
    @extend .h__headline;
  }
  &__subheading {
    color: $black;
    @extend .h__subheading;
  }
  &__data-user {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
  }
  &__send {
    margin-top: 20px;
  }
}